<main *ngIf="dataLoaded">
    <input

            type="number"
            min="0"
            placeholder="Select Ethereum"
            (change)="handleCurrencyUpdate()"
            [(ngModel)]="currencyPrice.eth"
    />

    <section>
        <div>
            Ethereurm: {{currencyPrice?.eth}}
            USD: {{currencyPrice?.usd}}
            HKD: {{currencyPrice?.hkd}}
        </div>
        <div>
            Last Updated: {{cryptoLastUpdated}}
        </div>
        <div>
            <div>
                Currency exchange rates for today ({{currencyRateDate}})
            </div>
            <div>
                1 Eth = 10 usd
                1Eth = 7 usd
            </div>
        </div>
    </section>


</main>

